@import url('https://fonts.googleapis.com/css2?family=Patua+One&family=Poppins:wght@400;600;700&family=Source+Sans+Pro&display=swap');
$main_color: #fe5e44;
$secondary_color: #0e144a;
$body_color: linear-gradient(to top, rgba(255, 240, 238, 1), rgba(255, 244, 242, 0.4));
$font_patua_one: 'Patua One', cursive;
$font_poppins: 'Poppins', sans-serif;
$font_source_sans_pro: 'Source Sans Pro', sans-serif;
.fitur-container {
  padding: 6.25rem 0;
  display: flex;
  font-family: $font_source_sans_pro;
  max-width: 73rem;
  margin: 0 auto;
  .fitur__left {
    flex: 0 0 50%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    .bg__fiturLeft {
      padding: 3.813rem 0;
      position: absolute;
      width: 33.75rem;
      height: 42.438rem;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      background: linear-gradient(180deg, #ffbfb5 55.44%, #ff735c 104.78%);
      border-radius: 1.875rem;
    }
    .content_left {
      transform: scale(0.85);
      position: relative;
      color: #fff;
      background-color: #0e144a;
      box-shadow: 0px 30px 60px rgba(0, 0, 0, 0.1);
      border-radius: 10px;
      padding: 15px 24px 3rem 24px;
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center;

      .line {
        width: 4.039rem;
        height: 4px;
        background: rgba(255, 255, 255, 0.2);
        border-radius: 3px;
      }
      h1 {
        text-align: left;
        width: 100%;
        font-weight: 500;
        font-size: 20px;
        line-height: 23px;
        letter-spacing: 0.02em;
        color: #f77456;
        margin: 1rem 0;
      }
      ul {
        display: flex;
        gap: 1.875rem;
        margin: 1rem 0;
        li {
          padding: 8px 3px;
        }
        li:nth-child(2) {
          border-bottom: 2px solid $main_color;
        }
      }
      .wrapper__jadwal {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 20px;
      }
    }
  }

  .fitur__right {
    flex: 0 0 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 0.5rem;
    .wrapper__fiturRight {
      h1 {
        font-weight: 400;
        font-size: 38px;
        line-height: 52px;
        font-family: $font_patua_one;
        color: #0e144a;
      }
      p {
        font-weight: 400;
        font-size: 18px;
        line-height: 32px;
        font-family: $font_source_sans_pro;
        color: rgba(14, 20, 74, 0.6);
        margin: 1.2rem 0 2rem 0;
      }
      .wrapper__cardFitur-right {
        display: flex;
        flex-wrap: wrap;
        gap: 30px;
        width: 100%;
        // flex-direction: column;

        .card-fitur-container {
          max-width: 16.844rem;
          h1 {
            font-weight: 400;
            font-size: 18px;
            line-height: 22px;
            font-family: $font_patua_one;
            color: #0e144a;
            margin: 0.8rem 0;
          }
          p {
            margin: 0;
          }
        }
      }
    }
  }
}
