@import url('https://fonts.googleapis.com/css2?family=Patua+One&family=Poppins:wght@400;600;700&family=Source+Sans+Pro&display=swap');
$main_color: #fe5e44;
$secondary_color: #0e144a;
$body_color: linear-gradient(to top, rgba(255, 240, 238, 1), rgba(255, 244, 242, 0.4));
$font_patua_one: 'Patua One', cursive;
$font_poppins: 'Poppins', sans-serif;
$font_source_sans_pro: 'Source Sans Pro', sans-serif;
